<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav>
    <a href="./homepage.html">homepage</a>
    <a href="./area 1.html">area 1</a>
    <a href="./area 2.html">area 2</a>
    <a href="./area 3.html">area 3</a>
    <a href="./area 4.html">area 4</a>
    <a href="./area 5.html">area 5</a>
    <a href="./area 6.html">area 6</a>
    <a href="./area 7.html">area 7</a>
    <a href="./area 8.html">area 8</a>
    <a href="./area 9.html">area 9</a>
    <a href="./area 10.html">area 10</a>
    <a href="./webservice.html">webservice</a>
</nav>

<h3>Samtidighedsproblemer: Beskriv begrebet Deadlock. </h3>

<h4>2 ting som vil have det samme ressource, og hvor det ikke er muligt at de kommer til det, på samme tid.<br>
    det kaldes en deadlock. for at løse det problem er man nød til at lade den ene passere,<br>
    eller tag en anden vej så de begge kan løse arbejdet.</h4>


</body>
</html>