<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav>
    <a href="./homepage.html">homepage</a>
    <a href="./area 1.html">area 1</a>
    <a href="./area 2.html">area 2</a>
    <a href="./area 3.html">area 3</a>
    <a href="./area 4.html">area 4</a>
    <a href="./area 5.html">area 5</a>
    <a href="./area 6.html">area 6</a>
    <a href="./area 7.html">area 7</a>
    <a href="./area 8.html">area 8</a>
    <a href="./area 9.html">area 9</a>
    <a href="./area 10.html">area 10</a>
    <a href="./webservice.html">webservice</a>
</nav>

<h3>Netværk: Hvordan kan man kende forskel på Ipv4 og Ipv6? </h3>

<h4>IPv4 er den første version af Ip, som giver 32-bit adresse.<br>
    Her er et eksempel på en IPv4-adresse:<br>
    32.253.431.175<br>
    IPv6 er en nyere version af IP, der bruger et 128-bit adresseformat og inkluderer både tal og bogstaver.<br>
    Her er et eksempel på en IPv6-adresse:<br>
    3002:0bd6:0000:0000:0000:ee00:0033:6778</h4>

</body>
</html>