<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teknologi Question website</title>
</head>
<body>

<nav>
    <a href="./homepage.html">homepage</a>
    <a href="./area 1.html">area 1</a>
    <a href="./area 2.html">area 2</a>
    <a href="./area 3.html">area 3</a>
    <a href="./area 4.html">area 4</a>
    <a href="./area 5.html">area 5</a>
    <a href="./area 6.html">area 6</a>
    <a href="./area 7.html">area 7</a>
    <a href="./area 8.html">area 8</a>
    <a href="./area 9.html">area 9</a>
    <a href="./area 10.html">area 10</a>
    <a href="./webservice.html">webservice</a>
</nav>

<br>
<p>Mini projektet udarbejdet af </p><br>
<p>Jessica Meyers & Tobias Sølvtofte </p><br>
<p>Kea mail: jess3565@stud.kea.dk og tobi704k@stud.kea.dk</p><br>
<p>Afleveret: 26-11-2022</p><br>

<p>Github link: <a href="https://github.com/TobiasSolv/Teknologi-1-mini-projekt-1" target="_blank">https://github.com/TobiasSolv/Teknologi-1-mini-projekt-1</a></p>

Jeg er sammen med Jessica Meyers i dette projekt, men Fronter ville ikke lade mig tilføje flere i gruppen, så Jessica Meyers sender også en nøjagtig kopi af dette projekt.
</body>
</html>

