<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Refresh" url='webservice.html' />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav>
    <a href="./homepage.html">homepage</a>
    <a href="./area 1.html">area 1</a>
    <a href="./area 2.html">area 2</a>
    <a href="./area 3.html">area 3</a>
    <a href="./area 4.html">area 4</a>
    <a href="./area 5.html">area 5</a>
    <a href="./area 6.html">area 6</a>
    <a href="./area 7.html">area 7</a>
    <a href="./area 8.html">area 8</a>
    <a href="./area 9.html">area 9</a>
    <a href="./area 10.html">area 10</a>
</nav>


<form action="https://api.nationalize.io?" method="get">
    <label for="name">Name:  </label>
    <input type="text" id="name" name="name" placeholder="Type your name and klik the button">
    <input type="submit" value="Test webservice">
</form>



</body>
</html>